@page
@model BugReportPageModel
@{
    ViewData["Title"] = "Bugreport";
}
<div class="text-center">
@if (Model.bugReport != null)
{
    <h1 class="display-4">DarkFactor : Bugreport : @Model.bugReport.clientBugId </h1>
    <center>
    <table width=700 border=0>
        <TR>
            <TD width=100 align=right class="bugHeader"><b>Id</b></TD>
            <TD align=left class="bugBlock">&nbsp;<a href="/Bugreport?id=@Model.bugReport.clientBugId">@Model.bugReport.clientBugId</a></TD>
        </tr>
        <TR>
            <TD width=100 align=right class="bugHeader"><b>Created</b></TD>
            <TD align=left class="bugBlock">&nbsp;@Model.bugReport.createdString </TD>
        </tr>
        <TR>
            <TD width=100 align=right class="bugHeader"><b>Client</b></TD>
            <TD align=left class="bugBlock">&nbsp;@Model.bugReport.clientName &nbsp; @Model.bugReport.clientVersion </TD>
        </TR>
        <TR>
            <TD colspan="2">&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2" class="bugHeader"><b>@Model.bugReport.title</b></TD>
        </TR>
        <TR>
            <TD colspan=2 class="bugBlock" style="padding:10px"><br>@Model.bugReport.message<br><br></TD>
        </TR>
        <TR>
            @if ( Model.bugReportImage != null )
            {
                <TD colspan=2><img src="@Model.bugReportImage" width="100%" ></TD>
            }            
        </TR>                                                                                                   
        <TR>
            <form action="/">
                <TD><button>Back</button></TD>
            </form>
            <form action="/BugReport" method="post" asp-antiforgery="true">
                <input type="hidden" id="bugReportId" asp-for="bugReportId" value="@Model.bugReport.clientBugId"/>
                <TD align="right">
                    <input type="submit" value="Delete" asp-page-handler="Submit"/>
                </TD>
            </form>
        </TR>
    </table>
    </center>
}
else if (@Model.errorMessage != null )
{
    <h1 class="display-4">DarkFactor : @Model.errorCode @Model.errorMessage</h1>
}
</div>
